@page
@model Habbitica.Pages.achievmentsModel
@{
}
<div class="row">
    <div class="achievments col-8 offset-2">
        <h1 class="title col-8 offset-4">Ваши Достижения</h1>
        <ul class="achievments__list">
            <li class="achievments__item">
                <div class="card">
                    <div class="card-header">+100</div>
                    <div class="card-body">
                        <h5 class="card-title">Сделать 200 дел</h5>
                        <p class="card-text">Не ну ты конечно красава, что сказать</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
